
* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	color: #32325f;
}
.container {
	max-width: 1140px;
	width: 96%;
	margin-right: auto;
	margin-left: auto;
}
button {
	box-shadow: 0 3px 6px rgba(173, 173, 173, 0.16);
	border-radius: 6px;
	padding: 20px 30px;
}
button:first-of-type {
	background-color: #2dce89;
	margin-right: 30px;
}
button:last-of-type {
	background-color: #5e72e4;
}
a {
	color: white;
	text-decoration: none;
}
.social a {
	color: #95989a !important;
	text-decoration: none;
	font-size: 24px;
	margin-right: 20px;
}
.header {
	margin-bottom: 159px;
	display: flex;
	justify-content: space-between;
}
.logo {
	color: #95989a;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}
.hero {
	background-color: #f4f5f7;
	padding-top: 70px;
	padding-bottom: 190px;
}
.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-text {
	width: 50%;
}
.subtitle {
	display: block;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
}
.title {
	display: block;
font-size: 48px;
font-weight: 700;
margin-bottom: 26px;
}
.description {
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 16px;
}
.price {
	display: block;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 20px;
}
.rub {
	display: block;
	margin-bottom: 49px;
	font-size: 48px;
	font-weight: 400;
}

.section {
	padding-top: 100px;
	padding-bottom: 100px;
}
.section-subtitle {
	display: block;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 16px;
}
.section-title {
	display: block;
	font-size: 48px;
	font-weight: 700;
}
.box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 100px;
}
.block {
	width: 23%;
	margin-right: 2%
}
.block-text {
	line-height: 1.2;
	margin: 40px 0;
	font-size: 16px;
	font-weight: 400;
}
.footer {
	background-color: #32325f;
	color: white;
	padding-top: 70px;
	padding-bottom: 70px;
}
.footer-wrap {
	display:flex;
	justify-content: space-between;

}
.footer-block {
	width: 33%;
}
.footer-title {
	font-size: 24px;
	font-weight: 700;
}
.footer-title a {
	text-decoration: none;
	display: block;
}
.people {
	background-color: #f4f5f7;
	display: flex;
	flex-flow: wrap column;
	justify-content: space-between;
}
.photo {
		padding-top: 64px;
		display: flex;
		flex-flow: wrap row;
		justify-content: space-around;

}
.photo-card  img{
	margin-bottom: 36px;
	max-width: 362px;
	max-height: 254px;
	width: 100%;
	height: auto;
	
}









	
	


