@charset "UTF-8";
.container {
  max-width: 1313px;
  margin: 0 auto;
}

body {
  font-family: sans-serif;
}

img {
  width: 100%;
}

.hero {
  background-color: #006a00;
  padding: 120px 0;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__subtitle {
  font-size: 18px;
  font-weight: 400;
}

.section__header {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: 0;
  padding: 0;
}

.section__head {
  color: white;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__block {
  background-color: white;
}

.block {
  width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block__title {
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 50px;
}

.block__image {
  margin-top: 33px;
}

.block__price {
  margin-top: 37px;
  font-size: 19px;
  font-weight: 700;
  line-height: 20px;
}

.block__list {
  margin-top: 34px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 0;
  text-align: center;
}

.block__button {
  margin-bottom: 45px;
}

.block__btn {
  padding: 26px 60px;
  -webkit-box-shadow: 0 8px 13px rgba(0, 0, 0, 0.04);
          box-shadow: 0 8px 13px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  border: 1px solid #ffba15;
  background-color: #ffb504;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f5ad00), to(#ffb504));
  background-image: linear-gradient(to top, #f5ad00 0%, #ffb504 100%);
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}

.block__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__item {
  list-style: none;
}

.list__item:before {
  content: '✓';
  color: #26650a;
  margin-right: 10px;
}

.additional {
  background-color: #006a00;
  margin-top: 50px;
  padding: 120px 0;
}

.section__btn {
  padding: 20px 50px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 850px;
  }
  .block__btn {
    font-size: 14px;
    padding: 20px 35px;
  }
  .block__title {
    font-size: 15px;
  }
}

@media (max-width: 786px) {
  .container {
    max-width: 550px;
  }
  .section__contant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
  .section__block {
    width: 65%;
  }
  .section .block {
    margin-bottom: 20px;
    width: 65%;
  }
  .section .block__btn {
    font-size: 12px;
    padding: 15px 25px;
  }
}
/*# sourceMappingURL=style.css.map */